doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title PRX Embeddable Player
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='//media.prx.org/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='//media.prx.org/favicon-32x32.png' sizes='32x32')
    noscript#ds
      link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    for script in scripts
      link(rel="preload", href=script, as="script")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js",
            id="cookiebanner",
            type="text/javascript",
            data-position="top"
            data-moreinfo="https://exchange.prx.org/privacy-policy"
            data-message="We use cookies.")
  body(style="margin: 0")
    play-root
      != loadingMarkup
    != css
    != js
    script!='window.ENV='+JSON.stringify(env)+';window.sl='+JSON.stringify(scripts)
    if env.GA_KEY
      script.
        if(!navigator || !(navigator.doNotTrack == 1)) {
          var x = document.createElement('script');x.src="https://www.google-analytics.com/analytics.js";x.async=!!1;document.body.appendChild(x);
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', window.ENV.GA_KEY, 'auto');x=window.location.search.match(/referrer=([^&]+)/i);if(x && x[1]){
          ga('set', 'referrer', decodeURIComponent(x[1]))}ga('send', 'pageview')}

    script
      != ';window.onload=function(){(function l(i,d,j){if(sl[i]){j=d.createElement("script");j.async=!!1;j.src=sl[i];j.onload=function(){l(i+1,d)};d.body.appendChild(j)}})(0,document)};(function(d,x){x(function(){window.setTimeout(function(s,r){s=d.getElementById("ds"),r=d.createElement("div");r.innerHTML=s.textContent;d.body.appendChild(r);s.parentElement.removeChild(s)},0)})})(document,requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame||function(c){window.addEventListener("load",c)})'
